<p-toolbar styleClass="">
  <div class="p-toolbar-group-start">
    <p-button
      icon="pi pi-home"
      label="Dashboard"
      routerLink="/dashboard"
      styleClass=" p-button-secondary"
      routerLinkActive="exact_route"
    ></p-button>
  </div>

  <div class="p-toolbar-group-center">
    <p-button
      label="Beneficiario"
      icon="pi pi-user"
      routerLink="/beneficiario"
      styleClass=" p-button-secondary"
      routerLinkActive="exact_route"
      class="mr-2"
    ></p-button>
    <p-button
      label="Doador"
      icon="pi pi-user"
      routerLink="/doador"
      styleClass=" p-button-secondary"
      routerLinkActive="exact_route"
      class="mr-2"
    ></p-button>
    <!-- Botão de Doações -->
    <p-button
      label="Doações"
      icon="pi pi-briefcase"
      routerLink="/doacao"
      styleClass=" p-button-secondary"
      routerLinkActive="exact_route"
      class="mr-2"
    ></p-button>
  </div>

  <div class="p-toolbar-group-end">
    <p-button
      label="Sair"
      icon="pi pi-sign-out"
      styleClass="p-button-danger"
      (onClick)="handleLogout()"
    ></p-button>
  </div>
</p-toolbar>
