<div>
  <form [formGroup]="doadorForm" (ngSubmit)="handleSubmit()" class="form-custom">
    <div class="card flex flex-column gap-3">

      <!-- Campo oculto para ID do Doador -->
      <input type="hidden" formControlName="idDoador" />

      <!-- Nome -->
      <div class="form-group">
        <label for="nome">Nome</label>
        <input id="nome" pInputText placeholder="Nome" formControlName="nome" />
      </div>

      <!-- Tipo de Pessoa (Física ou Jurídica) -->
      <div class="form-group">
        <label for="tipo_pessoa">Tipo de Pessoa</label>
        <p-dropdown 
          id="tipo_pessoa"
          [options]="tipoPessoaOptions" 
          formControlName="tipo_pessoa" 
          placeholder="Selecione o Tipo de Pessoa">
        </p-dropdown>
      </div>

      <!-- Campos para Pessoa Física -->
      <div *ngIf="doadorForm.get('tipo_pessoa')?.value === 'F'">
        <div class="form-group">
          <label for="cpf">CPF</label>
          <p-inputMask 
            id="cpf"
            formControlName="cpf"
            mask="999.999.999-99"
            placeholder="Digite o CPF"
            slotChar=" "
            appCpfValidator>
          </p-inputMask>
        </div>
      </div>

      <!-- Campos para Pessoa Jurídica -->
      <div *ngIf="doadorForm.get('tipo_pessoa')?.value === 'J'">
        <div class="form-group">
          <label for="cnpj">CNPJ</label>
          <p-inputMask 
            id="cnpj"
            formControlName="cnpj"
            mask="99.999.999/9999-99"
            placeholder="Digite o CNPJ"
            slotChar=" "
            appCnpjValidator>
          </p-inputMask>
        </div>
      </div>

      <!-- Contato 1 -->
      <div class="form-group">
        <label for="contato1">Contato 1</label>
        <p-inputMask 
          id="contato1"
          formControlName="contato1"
          mask="(99) 99999-9999"
          placeholder="Digite o Contato 1"
          slotChar=" ">
        </p-inputMask>
      </div>

      <!-- Contato 2 -->
      <div class="form-group">
        <label for="contato2">Contato 2</label>
        <p-inputMask 
          id="contato2"
          formControlName="contato2"
          mask="(99) 99999-9999"
          placeholder="Digite o Contato 2"
          slotChar=" ">
        </p-inputMask>
      </div>

      <!-- Endereço -->
      <div class="form-group">
        <label for="cep">CEP</label>
        <input 
          id="cep"
          pInputText 
          placeholder="Digite o CEP" 
          formControlName="cep"
        />
      </div>

      <div class="form-group">
        <label for="logradouro">Logradouro</label>
        <input 
          id="logradouro"
          pInputText 
          placeholder="Logradouro" 
          formControlName="logradouro" 
        />
      </div>

      <div class="form-group">
        <label for="numero">Número</label>
        <input 
          id="numero"
          pInputText 
          placeholder="Número" 
          formControlName="numero" 
        />
      </div>

      <div class="form-group">
        <label for="complemento">Complemento</label>
        <input 
          id="complemento"
          pInputText 
          placeholder="Complemento" 
          formControlName="complemento" 
        />
      </div>

      <div class="form-group">
        <label for="bairro">Bairro</label>
        <input 
          id="bairro"
          pInputText 
          placeholder="Bairro" 
          formControlName="bairro" 
        />
      </div>

      <div class="form-group">
        <label for="cidade">Cidade</label>
        <input 
          id="cidade"
          pInputText 
          placeholder="Cidade" 
          formControlName="cidade" 
        />
      </div>

      <div class="form-group">
        <label for="uf">Estado (UF)</label>
        <p-dropdown 
          id="uf"
          [options]="estados" 
          formControlName="uf" 
          placeholder="Selecione um Estado">
        </p-dropdown>
      </div>

      <!-- Observações -->
      <div class="form-group">
        <label for="observacoes">Observações</label>
        <textarea 
          id="observacoes"
          pInputTextarea 
          placeholder="Observações" 
          formControlName="observacoes">
        </textarea>
      </div>

      <!-- Botão de Submissão -->
      <div class="form-group flex justify-content-center">
        <p-button 
          type="submit" 
          label="Concluir">
        </p-button>
      </div>
    </div>
  </form>
</div>
