<div class="grid">
    <div class="col-12">
      <p-card styleClass="shadow-3 m-5 text-indigo-800" header="Doações">
        <p-table
          [value]="doacao"
          [(selection)]="doacaoSelected"
          [rows]="10"
          [paginator]="true"
          [responsive]="true"
          [tableStyle]="{ 'min-width': '75rem' }"
          [rowHover]="true"
          [showCurrentPageReport]="true"
          dataKey="idDoacao"
          currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} doações"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="descricao">
                <div class="flex justify-content-between align-items-center">
                  <div>Descrição</div>
                  <div>
                    <p-sortIcon field="descricao"></p-sortIcon>
                    <p-columnFilter
                      type="text"
                      field="descricao"
                      display="menu"
                      matchMode="contains"
                      [showMatchModes]="false"
                      [showOperator]="false"
                      [showAddButton]="false"
                    ></p-columnFilter>
                  </div>
                </div>
              </th>
              <th pSortableColumn="status">
                <div class="flex justify-content-between align-items-center">
                  <div>Status</div>
                  <div>
                    <p-sortIcon field="status"></p-sortIcon>
                    <p-columnFilter
                      type="text"
                      field="status"
                      display="menu"
                      matchMode="contains"
                      [showMatchModes]="false"
                      [showOperator]="false"
                      [showAddButton]="false"
                    ></p-columnFilter>
                  </div>
                </div>
              </th>
              <th>
                <div class="flex justify-content-center">
                  <button
                    pButton
                    pRipple
                    icon="pi pi-plus"
                    label="Adicionar"
                    pTooltip="Adicionar Doação"
                    tooltipPosition="top"
                    (click)="handleDoacaoEvent('ADICIONAR DOACAO')"
                  ></button>
                </div>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-doacao>
            <tr>
              <td>{{ doacao.descricao }}</td>
              <td>{{ doacao.status }}</td>
              <td>
                <div class="flex justify-content-center gap-3 align-content-center align-items-center">
                  <button
                    pButton
                    pRipple
                    icon="pi pi-pencil"
                    pTooltip="Editar doação"
                    tooltipPosition="top"
                    class="p-button-rounded p-button-warning"
                    (click)="handleDoacaoEvent('EDITAR DOACAO', doacao.idDoacao)"
                  ></button>
                  <button
                    pButton
                    pRipple
                    icon="pi pi-trash"
                    pTooltip="Remover doação"
                    tooltipPosition="top"
                    class="p-button-rounded p-button-danger"
                    (click)="handleDeleteDoacaoEvent(doacao.idDoacao, doacao.doacaoName)"
                  ></button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>
    <p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
  </div>
  